{% extends 'base.html' %}
{% load static %}


{% block content %}
    {{ self.main_page_title }}

    <!-- TOP HOMEPAGE CONTENTS -->
<section class="row top-homepage-contents">
    <div class="col s6 flexed remove-me main-logo-wrap">
        <img src="{% static 'images/mainlogo.png' %}" alt="Main Logo">
    </div>

    <div class="col s6 flexed main-blurb-wrap">
        <div class="heading-subheading-wrap remove-me">
            <h3 class="top-homepage-blurb">Finally!<br>
                a better, faster and more<br>
                personal Virtual Assistant.

            </h3>
            <p class="subheading mt-3 remove-me">Check out our services<br>
                and what we offer.</p>
            <div class="top-homepage-btn-wrap">
                <button class="top-homepage-btns services-btn btn-to-services remove-me">Services</button>

                <a href="#"><button
                        class="top-homepage-btns contact-btn remove-me">Contact</button></a>
            </div>
        </div>
    </div>
{% endblock content %}
    