body,
html {
    height: 100vh;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */

}

/* 
==============
LITTLE HELPERS
==============
*/

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

/* 
=========
HOME PAGE
=========
*/

.home-page-main {
    height: calc(100vh - 100px);
    padding: 145px;
}

.home-page-contents {
    position: relative;
    height: calc(100vh - 64px);
    width: 100%;
    z-index: 200;
}

.logo-img-wrap {
    height: 100%;

}

.main-page-blurb-actions {}

.top-homepage-blurb,
.subheading {
    font-family: 'Yeseva One', cursive;
}

.top-homepage-blurb {
    line-height: 90.5%;
    font-size: 64px;

}

.subheading {
    text-align: left;
    line-height: 105% !important;
    width: 100%;
    font-size: 25px;
    opacity: 0.6;
}

.heading-subheading-wrap p {
    text-align: left;
    line-height: 105% !important;
    width: 100%;
    font-size: 25px;
    opacity: 0.6;
    font-family: 'Yeseva One', cursive;

}

.top-homepage-btn-wrap {
    width: 100%;
    z-index: 200;

}

.top-homepage-btns {
    height: 50px;
    width: 210px;
    font-family: 'Yeseva One', cursive;
    border: none;
    font-size: 20px;

}

.services-btn {
    background-color: #333;
    color: #f7f7f7;
}

.contact-btn {
    background-color: transparent;
    border: 1px solid #333;
    margin-left: 25px;
}




/* Navbar */

nav {
    background: #f9f3f25d;
    box-shadow: none;
    width: 100%;
    backdrop-filter: blur(30px);


}

#nav-mobile>li>a {
    color: #000;
}

/* 
================
SERVICES SECTION
================
*/

.services-section {
    position: absolute;
    height: calc(100vh - 100px);
    width: 90%;
    background-color: #f9f3f232;
    backdrop-filter: blur(35px);
    z-index: 200;

    visibility: hidden;

    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.07),
        0 6.7px 5.3px rgba(0, 0, 0, 0.05),
        0 12.5px 10px rgba(0, 0, 0, 0.042),
        0 22.3px 17.9px rgba(0, 0, 0, 0.035),
        0 41.8px 33.4px rgba(0, 0, 0, 0.028),
        0 100px 80px rgba(0, 0, 0, 0.02);
}

.service-cards-wrap {
    flex-flow: column;
    width: 100%;
}


.services-container {
    flex-flow: row;
    width: 100%;
    justify-content: space-evenly;

}

.services-main-title {
    text-transform: uppercase;
}

.service-card {
    flex-flow: column;
    height: 500px;
    width: 25%;
    justify-content: space-between;
    border: 1px solid #333;

}

.service-card-title p {
    font-size: 1.5rem !important;
}

.service-card p {
    margin: 0;
    font-size: 1.1rem;
}

.service-card-icon-wrap {
    width: 100%;
    margin-top: 15px;
    padding-left: 15px;
}

.service-card-btns {
    height: 50px;
    width: 210px;
    background-color: #333;
    color: #f7f7f7;
    margin-bottom: 15px;
}

.close-btn {
    font-size: 2rem;
    margin-top: 25px;
    cursor: pointer;
}

/* Recaptcha  */







/* 
================
HOVERS & SUCH...
================
*/

.link-hover:hover {
    background-color: transparent !important;
    opacity: 0.5;
    transition: 0.3s;
}