{% load static %}


  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center link-hover">
        <img src="{% static 'images/savatextlogo.png' %}" alt="Text Logo">
    </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/contact-us/" class="link-hover"><i class="fas fa-phone-alt"></i></a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="link-hover" href="#testimonials">Testimonials</a></li>
        <li><a class="link-hover btn-to-services" href="#">Services</a></li>
      </ul>
    </div>
  </nav>
