{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block content %}

<body style="background-image: url('{% static 'images/mainbbg.png' %}');">

    <div class="container flexed contact-form-container" data-aos="fade" data-aos-duration="1500">
        <h3>{{ page.title }}</h3>
        <p>{{ self.form_intro|richtext }}</p>
        <form class="contact-form" action="{% pageurl page %}" method="POST" data-aos="fade" data-aos-duration="1800">
            {% csrf_token %}
            {{ form.as_ul }}
            <input class="contact-form-submit-btn" type="submit">
        </form>
    </div>
</body>
{% endblock content %}